

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: rgb(31, 28, 24);
    border: 2px solid rgb(31, 28, 24);
    padding: 35px;
    margin: 45px;
    background-color: rgba(31, 28, 24, .5);
    border-radius: 45px;
    font-size: 40px;
}

h3 {
    text-decoration:solid;
}

.status {
    border: 3px solid rgb(31, 28, 24);
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(230, 218, 207, 0.5);
}

.container {
    margin-top: 15px;
}

.day0, .day1, .day2, .day3, .day4 {
    border: 2px solid rgb(31, 28, 24);
    border-radius: 5px;
    margin: 5px;
    background-color: rgba(230, 218, 207, 0.5);
}

.cardclass {
    border: 2px solid black;
    align-items: right;
    padding: 25px;
    margin: 15px;
    border-radius: 15px;
}

.high {
    background-color: greenyellow;
}

.med {
    background-color: yellow;
}

.low {
    background-color: red;
}